server:
  port: 8084

spring:
  application:
    name: UserAuthentication-service
  jmx:
    enabled: true

security:
  jwt:
    secret: SgVkYp3s6v9y_B-E_H-MbQeThWmZq4t7w5dfTmArdUg
    issuer: http://user-authentication-service:8084
    expiration-ms: 1200000  # 20 minutes
    audiences:
      - ApiGateway-service
      - MyData-service
      - UserManagement-service
      - ProductCatalog-service
      - Payment-service

auth:
  endpoints:
    login: /api/user-authentication/login
    register: /api/user-authentication/register
  user-management-url: http://localhost:8085/api/usermanagement/addUser


#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka
#  instance:
#    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}