server:
  port: 8084
spring:
  application:
    name: UserAuthentication-service
  jmx:
    enabled: true

  #SECURITY
#  profiles:
#    active: pro


  #JWT
security:
  datasource:
    signUpUrl: /api/user-authentication/login
    secret: SgVkYp3s6v9y_B-E_H-MbQeThWmZq4t7w5dfTmArdUg
    tokenPrefix: Bearer
    expiresIn: 1200000
    authoritiesClaim: authorities
    error: Auth Error, Token Unavailable
    userManagementUrl: http://localhost:8085/api/usermanagement/addUser
    testuser:
      email:

#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka
#  instance:
#    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}